# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.
name: Check libs

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-1
  cancel-in-progress: true

on:
  pull_request:
    paths-ignore:
      - '.gitignore'
      - '.jujuignore'
      - 'LICENSE'
      - '**.md'
      - 'renovate.json'

jobs:
  lib-check:
    strategy:
      matrix:
        path:
          - kubernetes
          - machines
    name: Check libraries | ${{ matrix.path }}
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Check libs
        uses: canonical/charming-actions/check-libraries@2.7.0
        with:
          charm-path: ${{ matrix.path }}
          credentials: "${{ secrets.CHARMHUB_TOKEN }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
    permissions:
      issues: write
