name: Test week check

on:
  pull_request:
    branches:
      - "**"
  workflow_dispatch:
  schedule:
    - cron: '43 0 * * 2'  # Every Tuesday at 00:43 UTC

jobs:
  refine-cron:
    name: Limit cron to every 6 weeks
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Check if week number is multiple of 6
        id: check
        shell: python
        run: |
          import datetime
          import json
          import os

          if "${{ github.event_name }}" == "workflow_dispatch":
              run_workflow = True
          else:
              week = datetime.date.today().isocalendar().week
              print(f"{week=}")
              run_workflow = week % 6 == 0
          output = f"run_workflow={json.dumps(run_workflow)}"

          print(output)
          with open(os.environ["GITHUB_OUTPUT"], "a") as file:
              file.write(output)
    outputs:
      run-workflow: ${{ steps.check.outputs.run_workflow }}

  test-job:
    name: Test dependent job
    if: ${{ fromJSON(needs.refine-cron.outputs.run-workflow) }}
    needs:
      - refine-cron
    runs-on: ubuntu-latest
    steps:
      - run: echo "Test job ran because run_workflow was true"
